.cardLink {
    margin: auto;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000,
      0 0 transparent;
  
    border-color: var(--text-white-100);
    border-radius: 0.75rem /* 12px */;
  }
  
  .container {
    border-radius: 0.75rem /* 12px */;
    padding-top: 0.25rem /* 4px */;
    padding-bottom: 0.25rem /* 4px */;
    padding-bottom: 1.25rem /* 20px */;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  
    backdrop-filter: blur(10px);
  }
  
  .cardHeaderWrapper {
    margin-top: 0.75rem /* 12px */;
    margin-bottom: 0.75rem /* 12px */;
  }
  
  .cardHeader {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 800;
    overflow: hidden;
    width: 16rem /* 256px */;
  }

  .cardLayout {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1.5rem
        /* 24px */
    ;
    row-gap: 1.5rem
        /* 24px */
    ;
}

.card {
    justify-content: center;
}
  
  .cardImageWrapper {
    color: var(--text-white-100);
  }
  
  .cardImage {
    border-radius: 0.75rem /* 12px */;
  }
  
  @media (min-width: 1024px) {
    .cardHeader {
      width: 16rem /* 256px */;
    }

    .cardLayout {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 768px) {
    .cardHeader {
      width: 16rem /* 256px */;
    }

    .cardLayout {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  }
  

  .heading2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    color: var(--text-white-100);
}